body,html {
    background-color: #fbfbfb;  
    font-size: 9pt;
    padding: 0px;
    margin: 0px;
    font-family: arial;
}

div {
    
}

.links img {
    max-width: 100px;
    max-height: 30px;
}

.save-button {
    background: url("../images/minisave.jpg") no-repeat scroll left top transparent;
    border: medium none;
    color: #686868;
    cursor: pointer;
    float: left;
    font-family: Verdana;
    font-size: 9px;
    font-weight: normal;
    height: 21px;
    line-height: 19px !important;
    margin: 4px 0 0 10px;
    text-align: center;
    width: 62px;
}

.newsletter label {
    float: left;
}

.newsletter .private-button {
    float: left;
    margin: 2px 0 0 20px;
}

.additem, .additem2 {
    background: url("../images/item-toevoegen.jpg") no-repeat scroll left top transparent;
    border: medium none;
    color: #686868;
    cursor: pointer;
    float: left;
    font-family: Verdana;
    font-size: 9px;
    font-weight: normal;
    height: 21px;
    line-height: 19px !important;
    margin: 4px 0 0 20px;
    text-align: center;
    width: 98px;
}

.photo-menu div {
    position: relative;
}

input[name="image"] {
    display: block !important;
    margin: -5px 0 0 0 !important;
    width: 220px !important;
    left: -146px !important;
    top: 0px !important;
}

.first-row-column-white a, .first-row-last-column a {
    cursor: pointer;
}

p.info {
    padding:0px 0px 0px 18px;
    margin:5px 0px 0px 0px;
}

div.template {
    margin:0px 0px 0px 10px !important;
}

div.template a {
    text-decoration: underline;
}

.photo-menu {
    list-style: none;
    margin:5px 0px 25px 0px;
    padding:0px;
}

#upload {
    color: #6b6b6b;
    cursor: pointer !important;
    float: left;
    text-align: center;
    text-decoration: underline;
}

#upload1 {
    color: #6b6b6b;
    cursor: pointer !important;
    float: left;
    text-align: center;
    text-decoration: underline;
}

#upload2 {
    color: #6b6b6b;
    cursor: pointer !important;
    float: left;
    text-align: center;
    text-decoration: underline;
}

#upload3 {
    color: #6b6b6b;
    cursor: pointer !important;
    float: left;
    text-align: center;
    text-decoration: underline;
}

#cropupload {
    color: #6b6b6b;
    cursor: pointer !important;
    float: left;
    text-align: center;
    text-decoration: underline;
}

#cropupload input[name="image"] {
    display: block !important;
    margin: 30px 0 0 0 !important;
    width: 220px !important;
    left: -146px !important;
    top: 0px !important;
}

.photo-menu li {
    float:left;
    padding:0px 50px 0px 50px;
    border-right:1px solid #6b6b6b;
    line-height: 11px;
    color: #6b6b6b;
}

.photoalbum .photo-menu li {
    border: none;
    padding: 0px !important;
}

.photoalbum .photo-menu li:first-child {
    padding: 0px !important;
}

.photo-menu li.last {
    border:none !important;
}

.photo-menu li:first-child {
    padding:0px 50px 0px 0px !important;
}

.photo-menu li span {
    text-decoration: underline;
}

.photo-menu li a {
    color: #6b6b6b;
    text-decoration: underline;
}

.first-row-first-column-white a {
    color: black;
}

.first-row-column-white a {
    color: black;
}

.first-row-last-column a {
    color: black;
}

.pointer {
    cursor: pointer;
}

.parent-li table {
    width:100%;
}

span.red {
    color:#ff0000;
}

span.green {
    color:#008000;
}

.parent-li table .non-active {
    margin:10px 4px 0px 0px;
}

.subpage-li table .non-active {
    margin:7px 4px 0px 0px !important;
}

.parent-li table .active {
    margin:11px 4px 0px 0px;
}

.arrow-drag {
    cursor:move;
    float:left;
    padding:12px 0px 0px 5px;
}

.ccmenu .subpage-li .arrow-drag {
    padding:9px 0px 0px 13px !important;
} 

.cmenu .subpage-li .arrow-drag {
    padding:9px 0px 0px 5px;
}

#save {
    cursor: pointer;
    float:left;
    border:none;
    width: 85px;
    height: 29px;
    background: url(../images/save.png) no-repeat top left;
}

#page_description {
    width:264px;
    height:50px;
    background-color: white;
    border: 1px solid #E4E4E4;
}

.save {
    float:left;
}

#t1 .selected {
    cursor: move !important;
}

#t1 .selected .first-column-gray {
    background: LightSteelBlue !important;
}

#t1 .selected .column-gray {
    background: LightSteelBlue !important;
}

#t1 .selected .last-column-gray {
    background: LightSteelBlue !important;
}

.keywords {
    background: url("../images/zoekwoorden.png") no-repeat left top;
    border: medium none;
    cursor: pointer;
    float: left;
    height: 29px;
    width: 114px;
    margin: 0px 0px 0px 10px;
}

.verwijderen {
    float: left;
    margin: 0px 0px 0px 10px;
    background: url(../images/verwijderen.png) no-repeat;
    width: 106px;
    height: 29px;
    border: none;
}

.pagina_bottom {
    display: block;
}

img {
    border: 0px;
}
form, input, textarea {
	padding: 0px;
	margin: 0px;
}

.menu {
    padding: 0em; 
    margin: 0px;
    padding-left:0px;
    list-style:none;
    width: 100%;
    background: url(../images/menu_pages.jpg) repeat-y;
}

.display {
    display:none;
}

.menu {
    padding: 0em; 
    margin: 0px;
    padding-left:0px;
    list-style:none;
    width: 100%;
    background: url(../images/menu_pages.jpg) repeat-y;
}

.cmenu, .ccmenu {
   list-style:none;
   padding:0px;
   width: 100%; 
   background: none !important;
}

.cmenu td, .ccmenu td {
    background: none !important;
}

.cmenu li, .ccmenu li {
    margin:0px !important;
    padding:0px !important;
}

.parent-li {
    line-height: 32px;
    margin: 0px 4px 0px 4px;
}

.parent-li td {
    background: #ffffff; 
}

.subpage-li {
    margin: 0px 4px 0px 4px;
    padding: 0px 3px 0px 0px;
    line-height: 27px;
}

.add-border {
    border-top:1px solid #e4e4e4; 
}

.white td {
    background: white !important;
    font-weight: bold;
}

.ccmenu .subpage-li td {
    background: none !important;
}

.white .subpage-border {
    position: relative;
    top: 2px;
}

.parent-li .subpage-li td .add-subpage {
    padding: 9px 0px 0px 6px;
    float: left; 
}

.second {
    padding: 9px 0px 0px 6px !important;
}

.subpage-border {
    float: left;
    width: 243px;
    height: 2px;
}

.active {
    float:right;
    margin: 8px 4px 0px 0px;
}

.non-active {
    float:right;
    margin: 5px 4px 0px 0px;
}

.subpage-li table {
    width: 100%;
}

.cmenu .arrow_up {
    float:right;
    padding:9px 4px 0px 0px !important;
    cursor: pointer;
}

.menu .arrow_down {
    cursor: pointer;
    float: right;
    padding: 13px 4px 0 0;
}

.menu .arrow_up {
    float:right;
    padding:13px 4px 0px 0px;
    cursor: pointer;
}

.cmenu .arrow_down {
    cursor: pointer;
    float: right;
    padding: 9px 4px 0 0 !important;
}

.ccmenu .subpage-li td {
    font-weight: normal !important;
} 

.parent {
    padding-top:1px;
    padding-bottom:3px;
    float:left;
    color: #444242;
    font-size: 11px;
    font-family: Verdana;
    font-weight: bold;
}

.browser {
    padding: 0px 20px 0px 10px;
}

.browser ul.images {
    width: 700px;
    float:left;
}

.browser .folders {
    float:left;
    padding: 0px 0px 0px 20px;
    width: 88px;
    list-style: none;
}

.browser .folders a {
    color: gray;
}

.browser .folders a.selected {
    font-weight: bold;
}

.browser ul.images li {
    float:left;
    list-style: none;
    margin: 10px 10px 0px 0px;
    width: 100px;
}

.browser ul.images li img {
    display: block;
}

.subpage {
    color: #444242;
    font-size: 11px;
    font-family: Verdana;
}

.menu-bottom {
    background:  url(../images/menu_bottom_background.jpg) repeat-x top left;
    height: 42px;
}

.add-border-bottom {
    border-bottom: 1px solid #e4e4e4;
}

.add-parent {
    float:left;
    padding-top: 12px;
}

.parent-li td .add-subpage {
    float:left;
    padding:12px 0px 0px 6px;
    
}

.menu .title {
    background: url(../images/menu_title_background.jpg) repeat-x;
    width: 100%;
    height: 43px;
    padding: 0px 0px 0px 0px;
    color: #606060;
    font-family: Calibri;
    font-size: 16px;
}

.menu .title p {
    padding:12px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.menu-bottom .right-bottom {
    float:right;
}

.menu-bottom .left-bottom {
    float:left;
}

.menu .title .right-top {
    float: right;
}

.menu .title .left-top {
    float: left;
}

.functies .title {
    background: url(../images/menu_items.jpg) no-repeat;
    width: 171px;
    height: 31px;
    padding: 12px 0px 0px 23px;
    color: #606060;
    font-family: Calibri;
    font-size: 16px;
}

.functies_bottom {
    display: block;
}

td {
	vertical-align:top;
}

th {
	margin: 0px;
	padding: 0px;
}


div#header {
    width: 100%;
    height: 115px;
    background: url(../images/header_background.jpg);
}

div#header img {
  margin: 20px 0px 0px 30px;
}

div#container_div {
    float: left;
}

.step_1 {
    padding:0px 30px 0px 30px;
}

.submit-but {
    display:none;
}

.preview {
    float:left;
    margin:0px 0px 0px 10px;
    border:1px solid gray;
    display: none;
}

br.clear {
    clear: both;
}

#cropbox {
    float:left;
}

.index_image {
    border:none;
    padding: 0px 0px 0px 0px !important;
    width: 100px; 
    height: 75px; 
    overflow: hidden;
}

/* for the login page */
div#container {
	margin-left: -20em;
    margin-top: -16.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40em;
    height: 24em;
    border: 1px solid #CCCCCC;
    background-color: #F1F3F5;
}


div#left_div {
    float: left;
    width: 12em;
    margin-top: 4em;
    padding: 0.2em;
}

div#form_div {
    float: left;
    width: 27em;
}


/* menu */

#slide {
    margin-top: -163px;
}

.subsubpage {
    padding-left: 50px !important;
}

.pagina-form {
    margin-left: 20px; 
    width:755px;
    float: left;
    background: url(../images/pagina_background.jpg) repeat-y;
}

#content___Frame {
    border: 1px solid #e3e3e3 !important;
}

.pagina-form .input {
    background-color: white;
    border:1px solid #e4e4e4;
    height: 23px;
    width: 600px;
}

.modules {
    margin-left: 0px !important;
}

.modules .input {
    width: auto !important;
}   

#description {
    border:1px solid #e4e4e4;   
    background-color: white;   
}

.functies {
    float: left;
    margin: 0px 0px 0px 20px;
    width: 194px;
    background: url(../images/functies_background.jpg) repeat-y;
}

.functies p {
    line-height: 20px;
    padding: 12px 20px 0px 23px;
    margin: 0px 0px 0px 0px;
    color: #444242;
}

#nav {
  border-collapse: collapse;  
  float: left;
  padding: 0;
  height: 52px;
  margin: 0 0 0 0;
}

#menu-right {
    float: right;
    border-collapse: collapse;
}

#pagina-title {
    background: url(../images/pagina.jpg) no-repeat;
    width: 730px;
    height: 30px;
    color: #606060;
    font-size: 16px;
    padding: 10px 0px 0px 25px;
}

#nav a {
	color:#606060;
  display:block;
  padding:13px 20px 0 20px;
  text-decoration:none;
  font-size: 16px;
}

#home {
  float: left;
  padding: 1px 20px 0px 0px;
  width: 51px;
}

#advertenties {
  width: 125px;
  height: 29px;
  padding:13px 2px 0 2px !important; 
  text-align: center;
  background: url(../images/advertenties_hover.jpg) no-repeat center center;
}

#advertisers {
  width: 125px;
  height: 29px;
  padding:13px 2px 0 2px !important; 
  text-align: center;
  background: url(../images/advertisers_hover.jpg) no-repeat center center;
}

#reacties {
  width: 125px;
  height: 29px;
  padding:13px 2px 0 2px !important; 
  text-align: center;
  background: url(../images/reacties_hover.jpg) no-repeat center center;
}

#instellingen {
  width: 111px;
  height: 29px;
  padding:13px 2px 0 2px !important; 
  text-align: center;
  background: url(../images/instellingen_hover.jpg) no-repeat center center;
}

#gebruikersbeheer {
  color:#606060;
  display:block;
  padding:13px 20px 0 20px;
  text-decoration:none;
  font-size: 16px;
  float: left;
  width: 120px;
}

#nieuws {
  width: 86px;
  height: 29px;
  padding:12px 2px 0 2px !important; 
  text-align: center;
  background: url(../images/nieuws_hover.jpg) no-repeat center center;
}

#foto {
  width: 105px;
  height: 29px;
  padding:12px 2px 0 2px !important; 
  text-align: center;
  background: url(../images/foto_hover.jpg) no-repeat center center;
}

#videoalbum {
  width: 115px;
  height: 29px;
  padding:12px 2px 0 2px !important; 
  text-align: center;
  background: url(../images/videoalbum_hover.jpg) no-repeat center center;
}

#agenda {
  width: 86px;
  height: 29px;
  padding:12px 2px 0 2px !important; 
  text-align: center;
  background: url(../images/agenda_hover.jpg) no-repeat center center;
}

#setting {
  width: 86px;
  height: 29px;
  padding:12px 2px 0 2px !important; 
  text-align: center;
  background: url(../images/agenda_hover.jpg) no-repeat center center;
}

#guestbook {
  width: 125px;
  height: 29px;
  padding:12px 2px 0 2px !important; 
  text-align: center;
  background: url(../images/gastenboek_hover.jpg) no-repeat center center;
}

#webwinkel {
  width: 109px;
  height: 29px;
  padding:12px 2px 0 2px !important; 
  text-align: center;
  background: url(../images/webwinkel_hover.jpg) no-repeat center center;
}

#talen {
  width: 72px;
  height: 29px;
  padding:12px 2px 0 2px !important; 
  text-align: center;
  background: url(../images/talen_hover.jpg) no-repeat center center;
}

.user-selected {
  width: 155px;
  height: 31px;
  padding:12px 10px 0 10px !important; 
  text-align: center;
  background: url(../images/user_hover.jpg) no-repeat center center;
}

#pagina {
  width: 125px;
  height: 29px;
  padding:12px 2px 0 2px !important; 
  text-align: center;
  background: url(../images/pagina_hover.jpg) no-repeat center center;
}

.menu_bar {
    margin: 1px 0px 0px 0px;
    display: block;
}

.header {
  margin: 0px 0px 0px 0px !important;
}

#nav ul li {
    float:none;
}

#nav li {
  float:left;
  height:42px;
  padding:1px 0 0;
}

#nav li ul {
	font-weight:normal;
  height:auto;
  margin:11px 0 0 -1px;
  position:absolute;
  width:107px;
  display: none;
}

#nav li:hover ul {
  display: block;
}

#nav li li {
    border-color:#DFDFDF #DFDFDF #DFDFDF;
    border-right:1px solid #DFDFDF;
    border-style:none solid solid;
    border-width:0 1px 1px;
    height:17px;
    padding:4px 0 0;
    width:auto;
}


#nav .first {
    border-top: 1px solid #DFDFDF;
}

#nav li ul a {
	width: auto;
}

#nav li ul ul {
	margin: -17px 0 0 9.5em;
}


#nav li ul ul ul{
	margin: -1.6em 0 0 9.3em;
}

#nav li ul ul ul ul{
	margin: -1.6em 0 0 11.2em;
}

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul, #nav li.sfhover ul ul, #nav li.sfhover ul ul ul, #nav li.sfhover ul ul ul ul {
	
}

#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul,#nav li li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul, #nav li li li li.sfhover ul {
	left: auto;
}

#nav li:hover, #nav li.sfhover {
	
}

#nav a.daddy {
	background: url(../images/rightarrow2.gif) 95px center  no-repeat;
}

#nav #menu_newsletter {
	margin-left: 11.2em;
}

#nav #menu_customergroups {
	margin-left: 11.2em;
}



.submenu {
  background: url(../images/submenu_background.jpg) repeat-x;
  height: 36px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  z-index: 1;
}

.submenu li {
  float: left;
  padding: 6px 15px 10px 0px;    
}

.submenu li.first {
  padding: 6px 15px 10px 59px;
}

.submenu li.first a{
  border: none;
}

.submenu li a {
  border-left: 1px solid #919090;
  color: #919090;
  padding-left: 15px;
  display: block;
  font-family: Verdana;
  font-size: 11px;
}

#menu_div_item {
    width:100%;
    height: 48px;
    float: left;
}

.cms-menu a {
    cursor: pointer;
}

#menu_div_item #logout {
    float: left;
    width: 61px;
    height: 49px;
}

#login_kop {
    font-size: 16pt;
    color: #056647;
    height: 2.5em;
    font-weight: bold;
    padding-top: 0.3em;
    padding-bottom: 0px;
}

div#form_content {
    background-color: #E9ECEF;
    height: 12em;
    border: 1px solid #CCCCCC;
}

div#form_content td {
    font-weight: bold;
}

.table {
    width: 100%;
}

table {
    border-collapse: collapse;
}

#head_left {
    float: left;
}

#head_right {
    float: right;
}

.head {
    background: url(../images/head_background.jpg) repeat-x;
    height: 38px;
    padding: 0px 0px 0px 0px;
}

table h2 {
    margin: 0;
    padding: 0;
    line-height: 38px;
    width: 80%;
    float: left;
    color: #606060;
}

.first-row-first-column-white {
    background: url(../images/first_row_first_column_white.jpg) no-repeat;
    height: 28px;
    border-right: 1px solid #e4e4e4;    
    line-height: 28px;
    padding: 0px 0px 0px 21px; 
    font-weight: bold;
    text-decoration: underline;  
}

.first-row-column-white {
    background: url(../images/first_row_column_white.jpg) repeat-x;
    height: 28px;
    border-right: 1px solid #e4e4e4;  
    line-height: 28px;
    padding: 0px 0px 0px 21px; 
    font-weight: bold;
    text-decoration: underline;     
}

.first-row-last-column {
    background: url(../images/first_row_last_column.jpg) no-repeat top right;
    height: 28px;
    line-height: 28px;
    padding: 0px 0px 0px 21px; 
    font-weight: bold;
    text-decoration: underline;    
}

.first-column-white {
    background: url(../images/first_column_white.jpg) no-repeat;
    height: 25px;
    border-right: 1px solid #e4e4e4; 
    line-height: 25px;
    padding: 0px 0px 0px 21px;       
}

.column-white {
    background: url(../images/column_background_white.jpg) repeat-x;
    height: 25px;
    border-right: 1px solid #e4e4e4; 
    line-height: 25px;
    padding: 0px 0px 0px 21px;      
}

.last-column-white {
    background: url(../images/last_column_white.jpg) no-repeat top right;
    height: 25px;
    line-height: 25px;
    padding: 0px 0px 0px 21px;
}

.first-column-gray {
    background: url(../images/first_column_gray.jpg) no-repeat;
    height: 25px;
    border-right: 1px solid #e4e4e4; 
    line-height: 25px;
    padding: 0px 0px 0px 21px;      
}

.column-gray {
    background: url(../images/column_background_gray.jpg) repeat-x;
    height: 25px;
    border-right: 1px solid #e4e4e4;  
    line-height: 25px;
    padding: 0px 0px 0px 21px;     
}

.last-column-gray {
    background: url(../images/last_column_gray.jpg) no-repeat top right;
    height: 25px;
    line-height: 25px;
    padding: 0px 0px 0px 21px;
}

.last-row-first-column {
    background: url(../images/last_row_first_column.jpg) no-repeat top left;
    height: 25px;
    border-right: 1px solid #e4e4e4; 
    border-top: 1px solid #e4e4e4;       
}

.last-row-column-white {
    background: url(../images/last_row_column.jpg) repeat-x;
    height: 25px;
    border-right: 1px solid #e4e4e4;      
    border-top: 1px solid #e4e4e4;  
}

.last-row-last-column {
    background: url(../images/last_row_last_column.jpg) no-repeat top right;
    height: 25px;
    border-top: 1px solid #e4e4e4; 
}

/* form opmaak */

.inputVeld {
    background-color: #F1F3F5;
    border: 1px solid #000000;
}

.inputVeld, textarea {
    font-size: 9pt;
    font-family: arial;
}

.button {
    background-color: #F1F3F5;
}


/* ingelogd */

div#container_div {
    width: 100%;
}

.cms-menu {
    border-collapse: collapse;
}

.cms-menu td {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}



div#menu_div {
    z-index: 999;
    width: 100%;
    height: 48px;
    background: url(../images/menu_background.jpg) repeat-x;
    border: 0px none;
    position: relative;
    z-index: 2;
    overflow-x: auto;
    overflow-y: hidden;
}

div#content_div {
    width: 97%;
    margin: 0 auto;
    margin-top: 20px;
}

#horecatehuur {
    background: url(../images/horecatehuur.jpg);
}

#horecatekoop {
    background: url(../images/horecatekoop.jpg);
}

.sites {
    width: 177px;
    height: 112px;
    float: left;
    margin: 0px 20px 0px 0px;
    font-size: 16px;
    color: #606060 !important;
    padding: 12px 0px 0px 17px;
}

div#content_in_content_div {
    margin: 0.5em;
    padding: 0.2em;   
}

/*div#content_in_content_div table {
    margin-top: 20px;
}*/

div#content_in_content_div form:first-child table {
    margin-top: 0px;
}


div#pathInfo {
	padding: 0.3em; 
	clear: float; 
	border: 1px solid #000000; 
	height: 2.3em; 
	background-color: #F1F3F5; 
	border: 0px none; 
	border-bottom: 1px solid #CCCCCC; 
	border-top: 1px solid #CCCCCC;
	margin-top: 1.3em;
  display: none;
}

div#pathInfoItem {
	float: left; 
	margin-top: 0.4em; 
	height: 1.4em; 
	width: 40%; 
	border-left: 1px solid #000000; 
	border-top: 1px solid #000000; 
	border-right: 1px solid #C1C1C1; 
	border-bottom: 1px solid #C1C1C1; 
	background-color: #FFFFFF;
}


/* tekst opmaak */

a, a:active, a:link {
    text-decoration: none;
}

.fieldName {
	font-weight: bold;
    padding: 0px 20px 0px 14px;
    line-height: 28px;
    color: #444242;
}

.fieldTitle {
	font-weight: bold;
    font-size: 14px;
    padding: 0px 20px 5px 14px;
    line-height: 28px;
    color: #444242;
}

.fieldMessage {
    padding: 0px 20px 5px 14px;
    line-height: 28px;
    color: #444242;
}

.showItemsBorder td {
    border-bottom: 1px solid #E5E5E5;
}

div#uploadMelding {
    position: absolute; 
    display: none;
    left: 20%; 
    width: 20em; 
    height: 2.8em; 
    background-color: #FFCC00;
    top: 16em; 
    border: 1px solid #000000; 
    z-index: 999; 
    color: #000000;
    padding: 0.3em;
}



/* popup */

#lightbox {
    z-index: 999;
	background-color: #EEEEEE;
	padding: 10px;
	border-bottom: 1px solid #666;
	border-right: 1px solid #666;
}
#overlay {
    z-index: 999;
	background-image: url(../images/overlay.png);
}
#lightboxCaption {
    z-index: 999;
	color: #333;
	background-color: #EEEEEE;
	font-size: 90%;
	text-align: center;
	border-bottom: 1px solid #666;
	border-right: 1px solid #666;
}
* html #overlay {
    z-index: 999;
	background-color: #000;
	background-image: url(../images/blank.gif);
	filter: Alpha(opacity=50);
}


#overlay{   
    z-index: 999;
    background-image: url(../images/overlay.png); 
}

* html #overlay{
    z-index: 999;
	background-color: #000;
	back\ground-color: transparent;
	background-image: url(../images/blank.gif);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/overlay.png", sizingMethod="scale");
}

#error {
    color: red;
    padding-left: 1em;
}

.error {
    color: red;
    padding-left: 14px;
    padding-top: 5px;
}

.successMessage {
    color: green;
    padding-left: 14px;
    padding-top: 5px;
}

.tree {
    list-style:none;
    padding:0px;
    margin:0px !important;
}

.tree li.first-child {
    background: url("../images/head_background.jpg") repeat-x scroll 0 0 transparent;
    height: 38px;
    padding: 0;
    line-height: 38px;
}

.tree li h2 {
    float:left;
    margin:0px;
    color: #606060;
    line-height: 38px;
    margin: 0;
    padding: 0;
}

.tree li.fields {
    background: url("../images/first_row_column_white.jpg") repeat-x;
    line-height: 28px;
    height: 28px;
}

.tree li div {
    padding:0px 0px 0px 20px;
    float:left;
    border-right: 1px solid #E4E4E4;
    font-weight:normal;
}

.tree li div.row {
    padding: 0px 0px 0px 0px !important;
    float: none;
    width: 100% !important;
    border: none !important;
}

.tree li.fields div a {
    color:black;
    text-decoration: underline !important;
    font-weight: bold;
}

.tree li.gray {
    background: url("../images/column_background_gray.jpg") repeat-x;
}

.tree li {
    line-height:25px;
    float:left;
    width:100%;
}

.tree li.white {
    background: url("../images/column_background_white.jpg") repeat-x !important;
}

.tree li.bottom {
    background: url("../images/last_row_column.jpg") repeat-x;
    height:26px !important;
    border-top: 1px solid #E4E4E4;
}

.tree .arrow-drag {
    float:left;
    margin:8px 6px 0px 0px; 
    padding:0px !important;
}

.tree li.bottom div {
    width: 100%;
    float:left;
    padding:0px !important;
}

.left {
    float:left;
}

.right {
    float:right;
}

.tree ul {
    width: 100%;
    float:left;
    padding:0px !important;
    list-style: none;
}

td.social { 
    text-align: left;
    vertical-align: middle;
}

td.social img {
    display: inline-block;
    padding-right: 5px;
    vertical-align: middle;
}

#tooltip {
    background: #ddd;
    border: 1px solid #ccc;
    max-width: 400px;
    padding: 10px; 
}


