<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Error</title>
</head>
<body bgcolor="#fdfdfd" style="background-color:#fdfdfd; margin:0px; padding: 10px;">
{$ip} - {$date} - {$url} <br><br>
{$error}
</body>
</html>