<br><br>
<h1 class="info_text">Tap on ipad to start</h1>

<div id="videos_container">
  <span id="cyclist_id"></span>
  
  <div class="question_container">
    <span class="question_counter"></span>
    <p class="question_text"></p>
    <ul class="question_variants"></ul>
  </div>

  <video id="video1" width="720" height="440">
    <source src="http://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
    <source src="http://www.w3schools.com/html/mov_bbb.ogg" type="video/ogg">
    <source src="http://www.w3schools.com/html/mov_bbb.webm" type="video/webm">
    <object data="http://www.w3schools.com/html/mov_bbb.mp4" width="320" height="240">
      <embed src="http://www.w3schools.com/html/mov_bbb.swf" width="320" height="240">
    </object> 
  </video>


  <video id="video2" width="720" height="440">
    <source src="http://www.w3schools.com/html/movie.mp4" type="video/mp4">
    <source src="http://www.w3schools.com/html/movie.ogg" type="video/ogg">
    <source src="http://www.w3schools.com/html/movie.webm" type="video/webm">
    <object data="http://www.w3schools.com/html/movie.mp4" width="320" height="240">
      <embed src="http://www.w3schools.com/html/movie.swf" width="320" height="240">
    </object> 
  </video>

  <video id="video3" width="720" height="440">
    <source src="http://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
    <source src="http://www.w3schools.com/html/mov_bbb.ogg" type="video/ogg">
    <source src="http://www.w3schools.com/html/mov_bbb.webm" type="video/webm">
    <object data="http://www.w3schools.com/html/mov_bbb.mp4" width="320" height="240">
      <embed src="http://www.w3schools.com/html/mov_bbb.swf" width="320" height="240">
    </object> 
  </video>


  <video id="video4" width="720" height="440">
    <source src="http://www.w3schools.com/html/movie.mp4" type="video/mp4">
    <source src="http://www.w3schools.com/html/movie.ogg" type="video/ogg">
    <source src="http://www.w3schools.com/html/movie.webm" type="video/webm">
    <object data="http://www.w3schools.com/html/movie.mp4" width="320" height="240">
      <embed src="http://www.w3schools.com/html/movie.swf" width="320" height="240">
    </object> 
  </video>

  <video id="video5" width="720" height="440">
    <source src="http://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
    <source src="http://www.w3schools.com/html/mov_bbb.ogg" type="video/ogg">
    <source src="http://www.w3schools.com/html/mov_bbb.webm" type="video/webm">
    <object data="http://www.w3schools.com/html/mov_bbb.mp4" width="320" height="240">
      <embed src="http://www.w3schools.com/html/mov_bbb.swf" width="320" height="240">
    </object> 
  </video>


  <video id="video6" width="720" height="440">
    <source src="http://www.w3schools.com/html/movie.mp4" type="video/mp4">
    <source src="http://www.w3schools.com/html/movie.ogg" type="video/ogg">
    <source src="http://www.w3schools.com/html/movie.webm" type="video/webm">
    <object data="http://www.w3schools.com/html/movie.mp4" width="320" height="240">
      <embed src="http://www.w3schools.com/html/movie.swf" width="320" height="240">
    </object> 
  </video>

  <video id="video7" width="720" height="440">
    <source src="http://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
    <source src="http://www.w3schools.com/html/mov_bbb.ogg" type="video/ogg">
    <source src="http://www.w3schools.com/html/mov_bbb.webm" type="video/webm">
    <object data="http://www.w3schools.com/html/mov_bbb.mp4" width="320" height="240">
      <embed src="http://www.w3schools.com/html/mov_bbb.swf" width="320" height="240">
    </object> 
  </video>


  <video id="video8" width="720" height="440">
    <source src="http://www.w3schools.com/html/movie.mp4" type="video/mp4">
    <source src="http://www.w3schools.com/html/movie.ogg" type="video/ogg">
    <source src="http://www.w3schools.com/html/movie.webm" type="video/webm">
    <object data="http://www.w3schools.com/html/movie.mp4" width="320" height="240">
      <embed src="http://www.w3schools.com/html/movie.swf" width="320" height="240">
    </object> 
  </video>
  
</div>