<br><br>
<a href="/index.html">Back</a>
<br><br>
<form action="" method="post">
	<label for="cname">Name: </label><input type="text" name="cname" />
	<label for="cemail">Email: </label><input type="text" name="cemail" />

	<input type="submit" value="Play">
</form>

{if isset($error_text)}
<p style="color:red">{$error_text}</p>
{/if}

