{strip}
<script type="text/javascript">
/* <![CDATA[ */

/* ]]> */
</script>
<form method="post" action="" enctype="multipart/form-data">
    <table style="width: 100%;">
	    <colgroup style="width: 20%"></colgroup>
        <colgroup style="width: 80%"></colgroup>
        <tbody>
        <tr>
            <td class="fieldName"><label for="title">Login</label>:</td>
            <td>
                <input type="radio" name="login" value="0" {if $settings.login == 0}checked="checked"{/if} />&nbsp;&nbsp;Off&nbsp;&nbsp;<input type="radio" name="login" value="1" {if $settings.login == 1}checked="checked"{/if} />&nbsp;&nbsp;On 
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="image" src="{$SiteRoot}/images/save.png" />
            </td>
        </tr>
        </tbody>
    </table>
</form>
{/strip}
    
    

