/* Reset stylesheet by Eric Meyer (http://meyerweb.com/eric/tools/css/reset/) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big,cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
ol, ul {
    list-style: none;
}

input {
    padding:0;
}

.clear {
    clear: both;
}

section, article, aside, header, footer, nav { display: block; }

/* CSS Rules for the layout */

body {
    line-height: 1;
    font-family: Verdana;
    font-size: 12px;
    text-align: center;
}    

html, body, #background-gradient { min-height: 100%; }

video{
    display: none;
    margin: 20px auto;
}

.answer{
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
    text-align: center;
    display: none;
}

.answer h2{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    display: none;
}

#cyclist_id{
    display: none;
}

#mobile_container{
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
    text-align: center;
}


.variant{
    margin: 20px auto;
    border: 1px solid black;
    color: white;
    background-color: orange;
    height: 40px;
}

.variant:first-child{
    margin-top: 100px;
}

.variant.falser{
    display: none;
}

#navigate{
    display: none;
}

.go-cycling{
    display: block;
    width: 200px;
    height: 100px;
    border: 1px solid black;
    margin: 20px auto;
}

.highscore, #correctiveness{
    font-size: 20px;
    line-height: 30px;
    margin: 20px auto;
}

.question_container{
    font-size: 20px;
    display: none;
}

.reset{
    position: absolute;
    right: 20px;
    bottom: 50px;
}

.timer{
    position: absolute;
    right: 20px;
    top: 30px;
    color: white;
}

.testy{
    width: 700px;
    display: block;
    color: black;
    font-size: 16px;
}