{strip}
<script type="text/javascript">
/* <![CDATA[ */

/* ]]> */
</script>
<form method="post" action="" enctype="multipart/form-data">
    <table style="width: 100%;">
	    <colgroup style="width: 20%"></colgroup>
        <colgroup style="width: 80%"></colgroup>
        <tbody>
        <tr>
            <td class="fieldName"><label>Logo</label>:</td>
            <td><input type="file" value="1" name="logo" /></td>
        </tr>
        <tr>
            <td class="fieldName"><label for="title">Functies Title</label>:</td>
            <td>
                <input type="text" class="input" name="functie_title" id="title" value="{if isset($smarty.post.title)}{$smarty.post.title}{else}{$settings.functie_title}{/if}" size="40" />
            </td>
        </tr>
        <tr>
            <td class="fieldName"><label>Functies Private</label>:</td>
            <td><input type="checkbox" name="functie_private" value="1" {if $settings.functie_private == 1}checked="checked"{/if} /></td>
        </tr>
        <tr>
            <td class="fieldName"><label>Functies Text</label>:</td>
            <td>{$FCKeditor}</td>
        </tr>
        <tr>
            <td class="fieldName"><label for="title">Login</label>:</td>
            <td>
                <input type="radio"  name="login" id="title" value="0" {if $settings.login == 0}checked="checked"{/if} /> Nee <input type="radio"  name="login" id="title" value="1" {if $settings.login == 1}checked="checked"{/if} /> Ja
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                
                <input type="image" src="{$SiteRoot}/images/save.png" />
            </td>
        </tr>
        
        </tbody>
    </table>
</form>
{/strip}
    
    

